build
.vscode
*.kra
*.png:Zone.Identifier
_deps
CMakeCache.txt
CMakeFiles/
compile_commands.json
.clangd
lsan.supp
notes.md
.cache/
.mypy_cache/

Sprites/
Sprites.old/

sprites/*
!sprites/battle/
sprites/battle/*
!sprites/battle/aux/